/**********************************************************
  Add Google Fonts
**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800');


/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
  /* Now 1rem = 1em = 10px */

  overflow-x: hidden;
}


/**********************************************************
  Reset Default Properties End
**********************************************************/


/**********************************************************
  Variables Start
**********************************************************/
:root {

  /* Theme Colors */
  --black: #000;
  --white: #fff;
  --primary-color: rgb(0, 255, 187);
  --secondary-color: #aaa;
  --secondary-alpha: #aaaaaa12;


  /* Theme Fonts */
  --font-family-1: 'Poppins', sans-serif;
}

/**********************************************************
  Variables End
**********************************************************/


/**********************************************************
  Common Properties to Frequently Used Elements Start
**********************************************************/
body {
  background-color: var(--black);

  /* Following Properties Will be Inherited by All the Elements */
  font-family: var(--font-family-1);
  text-transform: capitalize;
}

/**********************************************************
  Common Properties to Frequently Used Elements End
**********************************************************/



/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/


/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
  padding: 2rem;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
}


/**********************************************************
  Container Start
**********************************************************/
.container {
  max-width: 1000px;
  width: 100%;
  margin-inline: auto;
  border: .2rem solid var(--white);
  padding: .5rem;
}


/**********************************************************
  Heading Box Start
**********************************************************/
.heading-box {
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--black);
}

.heading-box h1,
#form .form-heading {
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: .5rem;
  font-weight: 600;
}

.heading-box p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

.heading-box p a {
  text-decoration: none;
  font-weight: 600;
  color: blue;
  transition: all .3s linear;
}

@media (hover:hover) {
  .heading-box p a:hover {
    color: purple;
    transition: all .3s linear;
  }
}

/**********************************************************
  Heading Box End
**********************************************************/


/**********************************************************
  Form Start
**********************************************************/

#form {
  padding-block: 2rem;
  background: #aaaaaa26;
  margin-block: .5rem;
  text-align: center;
}

#form .form-heading {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 2rem;
}


/**********************************************************
  Radios Container Start
**********************************************************/
.radios-container {
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
}

.radios-container .radio-label-box {
  background-color: var(--secondary-alpha);
  position: relative;
  width: 100%;
  margin-block: .5rem;
  border: .1px solid var(--secondary-alpha);
  display: flex;
  align-items: center;
  padding: 1.8rem;
  column-gap: 1.8rem;
  cursor: pointer;
  transition: all .3s linear;
}

@media (hover:hover) {
  .radios-container .radio-label-box:hover {
    border: .1px solid #aaaaaa1b;
  }

  .radios-container .radio-label-box:hover .label-text {
    color: var(--white);
  }

  .radios-container .radio-label-box:hover .radio-btn {
    border-color: var(--white);
  }

}

.radios-container .radio-label-box input[type="radio"] {
  display: none;
}

.radios-container .radio-label-box input[type="radio"]:checked+.radio-btn {
  border-color: var(--primary-color);
}

.radios-container .radio-label-box input[type="radio"]:checked+.radio-btn::after {
  width: 50%;
  height: 50%;
  background-color: var(--primary-color);
  animation: animate-radio .8s ease-in 1;
}

@keyframes animate-radio {
  0% {
    width: 0%;
    height: 0%;
  }

  50% {
    width: 90%;
    height: 90%;
  }

  100% {
    width: 50%;
    height: 50%;
  }
}

.radios-container .radio-label-box .radio-btn {
  position: relative;
  width: 3rem;
  height: 3rem;
  border: .5rem solid var(--secondary-color);
  border-radius: 50%;
  transition: all .3s linear;
}

.radios-container .radio-label-box .radio-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: all .3s linear;
}


.radios-container .radio-label-box .label-text {
  font-size: 1.8rem;
  letter-spacing: .1rem;
  color: var(--secondary-color);
  transition: all .2s linear;
  cursor: pointer;
}

/**********************************************************
  Submit Button
**********************************************************/
#form #submit-btn {
  font-family: var(--font-family-1);
  padding: 1rem 2rem;
  margin-top: 1rem;
  background-color: var(--secondary-alpha);
  border: .1px solid var(--secondary-alpha);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
  transition: all .3s linear;
  cursor: pointer;
}

@media (hover:hover) {
  #form #submit-btn:hover {
    background-color: var(--secondary-color);
    color: var(--black);
  }
}

/**********************************************************
  Form End
**********************************************************/


/**********************************************************
  Made By Start
**********************************************************/
p.made-by {
  color: var(--white);
  font-size: 1.4rem;
  text-align: center;
  background: #191919;
  background-color: #aaaaaa26;
  padding: .5rem;
}

/**********************************************************
   Made By End
**********************************************************/


/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/